<?xml version="1.0" ?>
<robot name="partnet_3e18df9aea04c8cdbc7fb81194b2b6a8">
	<link name="base"/>
	<link name="link_2">
		<visual name="base_body-3">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_2" type="fixed">
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="0 0 0"/>
		<child link="link_2"/>
		<parent link="base"/>
	</joint>
</robot>
